doctype html
html
    head
        style
            include style.css
    body
        div
            block content

        div.head
            | Hello Friend!!!
            br
            | Car Shop Team
            br
            a(href=frontendUrl) Contact with Us
